/* You can add global styles to this file, and also import other style files */
    @import "~bootstrap/dist/css/bootstrap.css";
    @import "~font-awesome/css/font-awesome.css";


body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #fffbf7;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
