<p-toast position="top-right"></p-toast>
<div class="container">

  <h4>Add Customer </h4>
  <form [formGroup]="customerForm">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-field-label">First Name</label><br>
          <input placeholder="Enter First Name" type="text" formControlName="firstName" class="form-control" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-field-label">Last Name</label><br>
          <input placeholder="Enter Last Name" type="text" formControlName="lastName" class="form-control" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-field-label">Email ID</label><br>
          <input placeholder="Enter email id" type="email" formControlName="emailId" class="form-control" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group btn-loading text-right row-spacer">
          <img *ngIf="loading" src="/assets/images/ajax-loader.gif" /><br>
          <button [disabled]="!customerForm.valid || loading" class="btn btn-success" (click)="onSubmit()">Add Customer</button>
        </div>
      </div>
    </div>
  </form>

  <hr>
  <h4>Initiate Credit Operation</h4>
  <form [formGroup]="customerCreditAmountForm">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label class="form-field-label">Customer Id</label><br>
          <input placeholder="Enter Customer ID" type="text" formControlName="custId" class="form-control" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="form-field-label">Credit Amount</label><br>
          <input placeholder="Enter Credit Amount" type="text" formControlName="amount" class="form-control" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group btn-loading text-right row-spacer">
          <img *ngIf="loading" src="/assets/images/ajax-loader.gif" /><br>
          <button [disabled]="!customerCreditAmountForm.valid || loading" class="btn btn-success" (click)="initiateCredit()">Initiate Credit</button>
        </div>
      </div>
    </div>
  </form>

  <br>
  <h4>List Of Customer :-</h4>
  <div class="customer-table">
    <p-table [value]="customers" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Customer ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th colspan="2">Email ID</th>
          <th>Account ID</th>
          <th>Account Type</th>
          <th>Total Balance</th>
          <th>Transaction List</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>{{customer.custId}}</td>
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td colspan="2">{{customer.emailId}}</td>
          <td>{{customer.accountId}}</td>
          <td>{{customer.accountType}}</td>
          <td>{{customer.totalBalance}}</td>
          <td>
            <label *ngIf="customer.transactionList === null">null</label>
            <label *ngIf="customer.transactionList !== null" title="{{ customer.transactionList | json}}"> Transactions </label></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
